h1 {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -2px;
    color: #333;
    line-height: 48px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 36px;
    color: #333;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.833333px;
    color: #333;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1px;
    color: #333;
    line-height: 32px;
}

h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #333;
}

h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #333;
}

.h7 {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.h8 {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.h9 {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #333;
}

//
.subhead1 {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #333;
}

.subhead2 {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #333;
}

.subhead3 {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #333;
}

.body1 {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #333;
}

.body2 {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}

.body3 {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}